.containerBudget {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

body {
    box-sizing: border-box;
    margin: 0%;
}

label {
    margin-top: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}